# BOOK

## 扫描摘要
- 页面：${page_count}
- 接口：${api_count}
- 专题：${topic_count}

## 扫描告警
${warnings_section}

## 卷目录
${volume_links}

## 页面目录
${page_links}

## 专题链路
${topic_links}

## 知识卡
${knowledge_links}

## 跨书引用
${reference_links}

## 接口目录
${api_links}
