# 数据库字段：${title}

**字段 ID：** `${field_id}`
**字段名：** `${field_name}`
**类型：** `${field_type}`
**注释：** ${comment}
**可空：** ${nullable}
**默认值：** ${default_value}
**数据来源：** `${data_source}`

## 所属数据表
${table_link}

## 使用页面
${usage_links}
