# API：${title}

**模块：** ${module}
**路径：** `${path}`
**请求方式：** ${method}

**说明：**
${description}

## 请求参数
${request_params}

## 响应字段
${response_fields}

## 能力边界
${coverage_note}

> 自动生成的文档
